<div class="token-card">
    <div class="un-token">
        <div class="import-token flex" @click="toImport">
            <img src="@/assets/images/icons/add.png" alt="">
            <p class="ml-10">添加代币</p>
        </div>
    </div>
    <div v-for="(item,index) in tokenList" :key="index" class="token-item">
        <div class="flex">
            <!-- <img :src="item.image || '@/assets/images/unitLogo.png'" alt=""> -->
            <p>{{item.symbol || item.unit}}</p>
            <p>{{item.balance || item.balance}}</p>
        </div>
    </div>
</div>