.mnemonic-background {
    margin-top: 20px;

    .create-mnemonic {
        width: 100%;
        height: 300px;
        position: relative;
        border-radius: 12px;
        overflow: hidden;

        .mnemonic-text {
            flex-wrap: wrap;

            p {
                font-size: 16px;
                color: #000000;
                width: 50%;
                height: 25px;
                margin-bottom: 24px;

                font {
                    font-size: 16px;
                    user-select: none;
                }
            }
        }

        .show-hide {
            text-align: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(177, 218, 90, 0.25);
            backdrop-filter: blur(30px);

            p {
                font-size: 14px;
                line-height: 22px;
                text-align: center;
            }

            >img {
                margin-top: 80px;
                width: 36px;
                height: 36px;
            }
        }
    }

    button {
        width: 320px;
        height: 48px;
        background: rgba(177, 218, 90, 0.5);
        border-radius: 48px;
        color: #000;
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        bottom: 20px;
        border: 0;
    }

    .hide-text {
        width: 320px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 80px;
        border: 0;

        p {
            cursor: pointer;
            font-size: 14px;
            color: rgba(84, 84, 84, 1);
        }

        img {
            cursor: pointer;
            width: 16px;
            height: 16px;
        }
    }
}