.sites-page{
    width: 260px;
    position: relative;
    .sites-title{
        line-height: 17px;
        font-size: 14px;
        color: #000;
        font-weight: 600;
        margin-top: 12px;
    }
    .sites-url{
        line-height: 17px;
        font-size: 14px;
        color: #000;
        font-weight: 600;
    }
    .sites-text{
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
    }
    .sites-footer{
        position: absolute;
        line-height: 18px;
        width: 190px;
        text-align: center;
        bottom: 15px;
        left: 50%;
        margin-left: -95px;
        font-size: 12px;
        color: #1592E6;
        cursor: pointer;
    }
    .url-list{
        height: 120px;
        overflow-y: auto;
        position: relative;
        &::before{
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: scaleY(0.5);
            background-color: #000;
        }
        div{
            height: 60px;
            align-items: center;
            position: relative;
            justify-content: space-between;
            img{
                width: 25px;
                height: 25px;
            }
            p{
                line-height: 14px;
                font-size: 12px;
                width: 120px;
                overflow:hidden;
                text-overflow:ellipsis;
                text-align: left;
                /*禁止换行显示*/
                white-space:nowrap;
                word-wrap: break-word;
                font-weight: 600;
            }
            button{
                width: 75px;
                height: 23px;
                background-color: #1592E6;
                color: #fff;
                font-size: 12px;
                border: 0;
                border-radius: 3px;
            }
            &::after{
                content: '';
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scaleY(0.5);
                background-color: #000;
            }
        }
    }
    .btn-list{
        justify-content: space-between;
        border-top: 1px solid #000;
        p{
            width: 86px;
            height: 38px;
            line-height: 38px;
            border-radius: 3px;
            font-size: 12px;
            text-align: center;
        }
        .cancel{
            border: 1px solid #1592E6;
            color: #1592E6;
        }
        .disconnect{
            background-color: #1592E6;
            color: #fff;
        }
    }
}