<div class="detail-nft">
    <div class="header flex" v-if="detailContentStatus == 'detail'" @click="toBack">
        <img class="back-img" src="@/assets/images/icons/back.png" alt="">
        <p>测试/DimAI Collectible</p>
    </div>
    <div v-if="detailContentStatus == 'trade'" class="header flex" @click="detailContentStatus = 'trade'">
        <img class="back-img" src="@/assets/images/icons/back.png" alt="">
        <p>发送 NFT</p>
    </div>
    <div v-if="detailContentStatus == 'detail'" class="detail-content pt-10 pb-10 pl-30 pr-30">
        <div class="img-header flex">
            <img class="logo" src="@/assets/images/logo/logo.png" alt="">
            <img src="@/assets/images/logo/dblogo.png" alt="">
        </div>
        <div class="name-id mt-25 flex">
            <p>NFT Name</p>
            <p>#1090</p>
        </div>
        <div class="description-content mt-15">
            <p class="title">描述：</p>
            <p class="description mt-15">(This digital collection was created by 0xc 5
                69a49aab66b101d98a8bb190e9443f7005ac 61
                on DimAl, collection DimlD: 20230627285 428b32499163e594c567219b622ec4b9d770）</p>
        </div>
        <div class="remove-btn mt-25 pb-25 flex">
            <div class="flex" @click="deleteNft">
                <img src="@/assets/images/icons/remove.png" alt="">
                <p class="ml-10">移除NFT</p>
            </div>
        </div>
        <div class="from-address mt-25">
            <div class="flex">
                <p class="name">来源：</p>
                <p class="address">data:image/png;base64...</p>
            </div>
            <div class="flex mt-15">
                <p class="name">合约地址：</p>
                <p class="address">data:image/png;base64...</p>
            </div>
        </div>
        <div class="exemption-tip mt-15">免责声明：Biuu 从源网址中提取媒体文件。这个网址有时会因铸造 NFT 的市场而改变。</div>
        <button @click="detailContentStatus = 'trade'">发送</button>
    </div>
    <div v-if="detailContentStatus == 'trade'" class="detail-content pt-10 pb-10 pl-30 pr-30">
        <p class="title mt-10">发送资产：</p>
        <div class="nft-asset mt-15" :class="{'selected-check':nftSelect}">
            <!-- 选中的资产--详情数据 -->
            <div class="selected-asset flex">
                <img src="@/assets/images/logo/logo.png" alt="">
                <div class="flex ml-10">
                    <div>
                        <p>asdasdas</p>
                        <span>Token ID：1090</span>
                    </div>
                    <img src="@/assets/images/icons/back.png" alt="">
                </div>
            </div>
            <div class="nft-list" v-if="nftSelect">
                <ul class="mt-10 mb-10">
                    <li class="flex pl-20" v-for="item in 6" @click="checkAddress(item)">
                        <img src="@/assets/images/logo/logo.png" alt="">
                        <div class="ml-10">
                            <p>asdasdas</p>
                            <span>Token ID：1090</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <p class="title mt-10 mb-15">转账地址 ：</p>
        <textarea v-model="transferAddress"></textarea>
        <p class="title mt-15 mb-15">预计 GAS 小费 ：</p>
        <p class="gas-num">
            <font>0.000487</font> MEER
        </p>
        <div class="total-costs mt-10 pt-15 flex">
            <p class="title">共计：</p>
            <p class="gas-num">
                <font>0.000487</font> MEER
            </p>
        </div>
        <div class="nft-footer flex">
            <button class="close" @click="toBack">取消</button>
            <button class="confirm" @click="getNft">下一步</button>
        </div>
    </div>
</div>