.network-switching {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;

    .model-list {
        gap: 50px;
        padding: 10px;
        ul {
            width: 50%;
            padding-left: 25px;
            border: 1px solid rgb(124, 124, 124);
            border-radius: 10px;
            > p {
                font-size: 16px;
                text-align: left;
                line-height: 40px;
                color: #000;
            }

            li {
                font-size: 14px;
                color: #333;
                line-height: 40px;
                font-weight: 500;
                cursor: pointer;
                &:hover {
                    color: #b1da5a;
                }
            }
        }
    }
}
