.network-switching {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;

    .model-list {
        ul {
            width: 50%;
            padding-left: 25px;

            >p {
                font-size: 16px;
                text-align: left;
                line-height: 20px;
                color: #000;
            }

            li {
                font-size: 14px;
                color: #333;
                line-height: 20px;
                font-weight: 500;

                &:hover {
                    color: #b1da5a;
                }
            }
        }
    }
}