<div class="import-nft" v-loading:[loadingText]="loading">
    <div class="header flex" @click="toBack">
        <img class="back-img" src="@/assets/images/icons/back.png" alt="">
        <p>导入NFT</p>
    </div>
    <div class="nft-err flex" v-if="nftNull">
        <img src="@/assets/images/icons/warn-tip.png" alt="">
        <p class="ml-15">由于所有权信息不匹配，无法添加 NFT。 请确保所输入的信息正确无误。</p>
    </div>
    <div class="input-text">
        <p class="title mb-10">合约地址：</p>
        <input type="text" v-model="contractAddress" placeholder="0x...">
        <p class="tip mt-10">例如：在 DimAI 上，此合约地址位于 NFT 详情内，复制粘贴至此处即可。</p>
    </div>
    <div class="input-text">
        <p class="title mb-10">Token ID：</p>
        <input type="text" v-model="tokenId" placeholder="Token ID">
        <p class="tip">NFT 的 ID 是唯一标识符，因为所有NFT 都是独一无二的，同样在 DimAI 上，此 Token ID位于 NFT 详情内，记下它即可。</p>
    </div>
    <div class="nft-footer flex">
        <button class="close" @click="toBack">取消</button>
        <button class="confirm" @click="getNft">下一步</button>
    </div>
</div>