.new-mnemonic {
    border-radius: 5px;
    background-color: #fff;

    .input-title {
        font-size: 15px;
        color: rgba(146, 146, 146, 1);

        font {
            font-size: 15px;
            color: #000;
        }
    }

    .mnemonic-input {
        flex-wrap: wrap;
        justify-content: space-between;

        .input-list {
            input {
                width: 100px;
                height: 40px;
                border: 0;
                font-size: 14px;
                border-radius: 5px;
                text-align: center;
                background-color: rgba(177, 218, 90, 0.5);
                outline: none;
            }
        }
    }

    .import {
        margin-top: 18px;
        justify-content: space-between;

        div {
            align-items: center;

            img {
                width: 10px;
                height: 10px;
                cursor: pointer;
            }

            p {
                height: 15px;
                font-size: 11px;
                line-height: 15px;
                color: #000;
                margin-left: 3px;

                a {
                    color: #1592E6;
                    font-size: 11px;
                    margin-left: 3px;
                    cursor: pointer;
                }
            }
        }

        button {
            width: 150px;
            height: 38px;
            background: #1592E6;
            border-radius: 5px 5px 5px 5px;
            color: #fff;
            font-size: 12px;
            border: 0;
            cursor: pointer;
        }
    }
}