<div @click="toBack" v-if="!securityProcess" class="header flex">
    <img class="back-img" src="@/assets/images/icons/back.png" alt="">
    <p>钱包安全</p>
</div>
<div class="security-qa">
    <div class="home-options" v-if="!securityProcess">
        <img class="mt-25" src="@/assets/images/icons/security.png" alt="">
        <p class="mt-10 mb-30">安全</p>
        <div class="security-options">
            <p v-if="currentWalltAddress && !currentWalltAddress.keyStoreType"
                @click="securityProcess = 'mnemonicPhrase'">显示助记词</p>
            <p @click="securityProcess = 'privateKey'">显示私钥</p>
            <p @click="securityProcess = 'revisePassword'">修改密码</p>
        </div>
    </div>
    <!-- 私钥 -->
    <privateKey v-if="securityProcess == 'privateKey'" :address="currentWalltAddress.address" />
    <!-- 助记词 -->
    <mnemonicPhrase v-if="securityProcess == 'mnemonicPhrase'" :address="currentWalltAddress.address" />
    <!-- 修改密码 -->
    <revisePassword v-if="securityProcess == 'revisePassword'" />
</div>