<div class="forget-password">
    <p class="forget-title mt-5">修改密码</p>
    <p class="txt mt-25 mb-30">为保护您的隐私，Meta-X 不会存储您的钱包信息，请妥善保管您的密码。</p>
    <p class="psd-title mt-20">Password</p>
    <div class="input-psd mt-5 flex">
        <input v-model="psdNewText" :type="textNewPsd=='text'?'text':'password'" placeholder="至少 8 个字符。">
        <img v-if="textNewPsd == 'text'" @click="textNewPsd = 'psd'" src="@/assets/images/icons/hide.png" alt="">
        <img v-if="textNewPsd == 'psd'" @click="textNewPsd = 'text'" src="@/assets/images/icons/show.png" alt="">
    </div>
    <p class="psd-title mt-20">再次输入</p>
    <div class="input-psd mt-5 flex">
        <input v-model="psdConText" :type="textConPsd=='text'?'text':'password'" placeholder="至少 8 个字符。">
        <img v-if="textConPsd == 'text'" @click="textConPsd = 'psd'" src="@/assets/images/icons/hide.png" alt="">
        <img v-if="textConPsd == 'psd'" @click="textConPsd = 'text'" src="@/assets/images/icons/show.png" alt="">
    </div>
    <button class="mnemonic-phrase margin-auto mt-20" @click="restoreWallet">修改密码</button>
</div>