<div class="secret-page">
    <div v-if="secretStep == 1">
        <img src="@/assets/images/logo/bgi.png" alt="">
        <p class="title">Explore the<br />Decentralized world<br />with <font>B</font>
            <font class="red">i</font>
            <font>uu</font>
        </p>
        <p class="psd-title mt-20">Password</p>
        <div class="input-psd mt-5 flex">
            <input v-model="psdText" :type="textPsd=='text'?'text':'password'" placeholder="At least 6 characters.">
            <span v-if="newPsdBol">{{confirmPsd}}</span>
            <img v-if="textPsd == 'text'" @click="textPsd == 'psd'" src="@/assets/images/icons/hide.png" alt="">
            <img v-if="textPsd == 'psd'" @click="textPsd == 'text'" src="@/assets/images/icons/show.png" alt="">
        </div>
        <button class="create-in margin-auto mt-20" @click="unlock">解锁</button>
        <p class="forget-psd mt-15" @click="forget">忘记密码</p>
    </div>
    <div class="forget-password" v-if="secretStep == 2">
        <div class="header flex">
            <img @click="secretStep = 1" src="@/assets/images/icons/back.png" alt="">
        </div>
        <p class="forget-title mt-5">忘记密码</p>
        <p class="txt mt-25">
            ·Biuu不会保留密码的副本。如果您在解锁账户时遇到问题，需要重置您的钱包。您可以提供设置钱包时使用的助记词，以进行重置。<br /><br />·此操作将从此设备中删除您当前的钱包和助记词，以及您编制的账户列表。使用助记词进行重置后，您将会看到一个账户列表(基于用于重置的助记词)。这个新列表将自动包括有余额的账户。您还可以使用之前创建的重新添加任何其他账户。您导入的自定义账户需要是重新添加，添加到账户中的任何自定义代币也需要是重新添加。<br /><br />·在继续之前，请确保您所使用的助记词正确无误。您将无法撤消此操作。
        </p>
        <button class="mnemonic-phrase">导入助记词</button>
    </div>
</div>