<div class="nfts-card">
    <div class="un-nfts">
        <div class="import-nft flex" @click="toImport">
            <img src="@/assets/images/icons/add.png" alt="">
            <p class="ml-10">导入 NFT</p>
        </div>
        <p v-if="!nftsList" class="mt-25">还没有 NFT</p>
    </div>
    <div class="nft-type">
        <div v-if="nftsList && nftsList.length" class="nft-list pt-5 mt-10">
            <div class="mb-10" v-for="item in nftsList">
                <!-- <img class="logo" src="@/assets/images/logo/logo.png" alt="">
                <img class="nft" :src="item.image" alt=""> -->
                <p>{{item.collectionName}}</p>
                <nftImages :nftContent="item.collections
                    " />
            </div>
        </div>
    </div>
</div>