<div class="home-page" v-loading:[loadingText]="loading">
    <div class="user-type flex">
        <div class="select flex">
            <p>{{walltEnvironment?.netName}}</p>
            <img class="ml-5" src="@/assets/images/icons/arrowhead-g.svg" alt="">
        </div>
        <p class="flex" @click="walltAccount = 'selectAccount';pageType=''"> 钱包管理
            <img class="ml-5" src="@/assets/images/icons/arrowhead.svg" alt="">
        </p>
        <div class="more-components">
            <img src="@/assets/images/icons/more.png" @click="moreShow = !moreShow;" alt="">
            <div class="more-content" v-if="moreShow" @click.self="moreShow = !moreShow">
                <div class="options-list">
                    <div class="option flex" @click="toPage('detail')">
                        <img class="mr-10" src="@/assets/images/icons/detail.png" alt="">
                        <p>账户详情</p>
                    </div>
                    <div class="option flex">
                        <img class="mr-10" src="@/assets/images/icons/explorer.png" alt="">
                        <p>View on explorer</p>
                    </div>
                    <div class="option flex" @click="walltAccount = 'networkSwitching'">
                        <img class="mr-10" src="@/assets/images/icons/netWork.png" alt="">
                        <p>已连接的网络</p>
                    </div>
                    <div class="option flex">
                        <img class="mr-10" src="@/assets/images/icons/unfold.png" alt="">
                        <p>展开视窗</p>
                    </div>
                    <div class="option flex" @click="moreShow = false;walltAccount = 'setting'">
                        <img class="mr-10" src="@/assets/images/icons/setting.png" alt="">
                        <p>设置</p>
                    </div>
                    <div class="option flex">
                        <img class="mr-10" src="@/assets/images/icons/out.png" alt="">
                        <p>退出</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-info pt-20">
        <div class="user-currency mt-10 flex">
            <p class="ml-10" v-if="props.walltContent">{{props.walltContent.balance}} {{props.walltContent.unit}}
            </p>
            <p class="ml-10" v-else>0 {{props.walltContent.unit}}
            </p>
        </div>
        <div class="info-name" v-if="props.walltContent">
            <div class="user-address flex">
                <p class="mr-5">
                    {{props.walltContent.address.substr(0,6)}}...{{props.walltContent.address.substr(-4)}}</p>
                <img @click="onCopy" src="@/assets/images/icons/copy.png" alt="">
            </div>
            <!-- <p>{{props.walltContent&&props.walltContent.userName?props.walltContent.userName:'Account 1'}}</p> -->

        </div>
        <div class="uesr-btn mt-25 flex">
            <!-- <p @click="toPage('buyPage')">
                <img src="../../../assets/images/buy.png" alt="">
            </p>
            <p class="ml-20 mr-20" @click="toPage('swap')">
                <img src="../../../assets/images/swap.png" alt="">
            </p> -->
            <p @click="sendTo">转账</p>
        </div>

    </div>
    <div class="footer mt-20">
        <div class="refresh mt-10 flex">
            <p @click="refresh">刷新</p>
        </div>
    </div>
    <div class="footer-tabs">
        <div class="tabs-list flex">
            <p @click="tabsOption = 'nfts'" class="mr-25">NFTS</p>
            <p @click="walltAccount = 'sendTrade'" class="mr-25">转账</p>
            <p @click="walltAccount = 'transactionHistory'">交易记录</p>
        </div>
        <nftCard v-if="walltAccount == 'nfts'" />
    </div>
</div>
<!-- 选择账户 -->
<selectAccount v-if="walltAccount == 'selectAccount'" :pageType="pageType" />
<!-- 设置 -->
<setting v-if="walltAccount == 'setting'" />
<!-- 网络切换 -->
<networkSwitching v-if="walltAccount == 'networkSwitching'" />
<!-- 导入nft -->
<importNfts v-if="walltAccount == 'importNfts'" />
<!-- nft详情 -->
<nftDetail v-if="walltAccount == 'nftDetail'" :details="nftDetails" />
<!-- 交易记录 -->
<transactionHistory v-if="walltAccount == 'transactionHistory'" />
<!-- 转账 -->
<sendTrade v-if="walltAccount == 'sendTrade'" />