<div class="home-page">
    <div class="user-info pt-35">
        <div class="info-name flex">
            <div class="name" v-if="props.walltContent">
                <p>{{props.walltContent&&props.walltContent.userName?props.walltContent.userName:'Account 1'}}</p>
                <div class="user-address mt-5 flex">
                    <p class="mr-10">
                        {{props.walltContent.address.substr(0,4)}}...{{props.walltContent.address.substr(-4)}}</p>
                    <i class="el-icon-copy-document" @click="onCopy"></i>
                </div>
            </div>
            <div class="more-components">
                <img src="images/more.png" @click="moreShow = !moreShow;" alt="">
                <options-popup v-if="moreShow" />
            </div>
        </div>
        <div class="user-currency mt-45 flex">
            <img src="images/unitLogo.png" alt="">
            <p class="ml-10" v-if="props.walltContent">{{props.walltContent.balance}} {{props.walltContent.unit}}
            </p>
        </div>
        <div class="uesr-btn mt-30 flex">
            <p @click="toPage('buyPage')">
                <img src="images/buy.png" alt="">
            </p>
            <p class="ml-20 mr-20" @click="toPage('swap')">
                <img src="images/swap.png" alt="">
            </p>
            <p @click="sendTo">
                <img src="images/send.png" alt="">
            </p>
        </div>
        <img class="platform mt-10 mb-10" src="images/platform.png" alt="">
        <div class="transactions flex" v-if="props.walltContent && props.walltContent.txHash" @click="hashDetail">
            <div class="flex">
                <img src="images/unitLogo.png" alt="">
                <div class="trade-number ml-25">
                    <p class="ate">{{transactionHash}} {{props.walltContent.unit}}</p>
                    <p class="hk">HK$0.75 HKD</p>
                </div>
            </div>
            <i class="el-icon-arrow-right"></i>
        </div>
    </div>
    <div class="footer mt-20">
        <div class="refresh mt-10 flex">
            <p @click="refresh">刷新</p>
        </div>
    </div>
</div>