<div class="home-page">
    <div class="user-type flex">
        <!-- <select v-if="netWorkList && netWorkList.length" id="my-select" v-model="walltEnvironment" @change="rpcChange">
            <option :value="item.CHAIN_ID" v-for="item in netWorkList">{{item.unit}}</option>
        </select> -->
        <div class="select flex">
            <p>{{walltEnvironment?.netName}}</p>
            <img class="ml-5" src="@/assets/images/icons/arrowhead-g.svg" alt="">
        </div>
        <p class="flex" @click="walltAccount = 'selectAccount'"> 钱包管理
            <img class="ml-5" src="@/assets/images/icons/arrowhead.svg" alt="">
        </p>
        <div class="more-components">
            <img src="@/assets/images/more.png" @click="moreShow = !moreShow;" alt="">
            <options-popup v-if="moreShow" />
        </div>
    </div>
    <div class="user-info pt-20">
        <div class="user-currency mt-10 flex">
            <p class="ml-10" v-if="props.walltContent">{{props.walltContent.balance}} {{props.walltContent.unit}}
            </p>
            <p class="ml-10" v-else>0 {{props.walltContent.unit}}
            </p>
        </div>
        <div class="info-name" v-if="props.walltContent">
            <div class="user-address flex">
                <p class="mr-5">
                    {{props.walltContent.address.substr(0,6)}}...{{props.walltContent.address.substr(-4)}}</p>
                <img @click="onCopy" src="@/assets/images/icons/copy.png" alt="">
            </div>
            <!-- <p>{{props.walltContent&&props.walltContent.userName?props.walltContent.userName:'Account 1'}}</p> -->

        </div>
        <div class="uesr-btn mt-25 flex">
            <!-- <p @click="toPage('buyPage')">
                <img src="../../../assets/images/buy.png" alt="">
            </p>
            <p class="ml-20 mr-20" @click="toPage('swap')">
                <img src="../../../assets/images/swap.png" alt="">
            </p> -->
            <p @click="sendTo">转账</p>
        </div>

    </div>
    <div class="footer mt-20">
        <div class="refresh mt-10 flex">
            <p @click="refresh">刷新</p>
        </div>
    </div>
</div>
<selectAccount v-if="walltAccount == 'selectAccount'" />