.home-page {
    .user-type {
        align-items: center;
        justify-content: space-between;
        padding: 15px 17px;
        border-bottom: 1px solid rgba(177, 218, 90, 0.3);
        background: rgba(177, 218, 90, 1);
        position: relative;

        >p {
            font-size: 18px;
            position: absolute;
            line-height: 24px;
            left: 50%;
            top: 18px;
            transform: translateX(-50%);
            cursor: pointer;
        }

        .select {
            width: 80px;
            height: 30px;
            border-radius: 28px;
            text-align: center;
            background-color: #fff;
            outline: none;
            cursor: pointer;
            align-items: center;
            padding-left: 10px;

            p {
                font-size: 14px;
                width: 40px;
                color: #000;
                line-height: 30px;
                height: 30px;
                overflow: hidden;
            }
        }

        .more-components {
            >img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }

            .more-content {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                .options-list {
                    width: 260px;
                    border-radius: 12px;
                    background-color: #fff;
                    padding: 8px 12px;
                    position: absolute;
                    right: 18px;
                    top: 48px;
                    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);

                    .option {
                        height: 44px;
                        align-items: center;
                        border-radius: 8px;
                        padding: 10px 16px;
                        transition: all 0.3s linear;
                        cursor: pointer;

                        &:hover {
                            transition: all 0.3s linear;
                            background: rgba(177, 218, 90, 0.3);
                        }

                        img {
                            width: 24px;
                            height: 24px;
                            cursor: pointer;
                        }

                        p {
                            font-size: 14px;
                            color: #000;
                            cursor: pointer;
                        }
                    }
                }
            }

        }
    }

    .user-info {
        padding: 0 16px;

        .info-name {
            .user-address {
                align-items: center;
                justify-content: center;
                cursor: pointer;

                p {
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                    cursor: pointer;
                }

                img {
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }
            }
        }

        .user-currency {
            align-items: center;
            justify-content: center;

            p {
                font-size: 30px;
                line-height: 42px;
                font-weight: 600;
            }
        }

        .uesr-btn {
            justify-content: center;

            p {
                cursor: pointer;
                width: 100px;
                height: 50px;
                line-height: 50px;
                border: 1px solid rgba(177, 218, 90, 1);
                border-radius: 12px;
                text-align: center;
                font-size: 16px;
                color: #000;
            }
        }

        .assets-nft {
            width: calc(100% + 54px);
            margin-left: -27px;

            p {
                width: 50%;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
            }

            .check {
                background-color: #1592E6;
                color: #fff;
                cursor: pointer;
            }

            .uncheck {
                background-color: #F0F4F6;
                cursor: no-drop;
            }
        }

        .transactions {
            width: calc(100% + 25px);
            padding: 15px 12.5px;
            margin-left: -12.5px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
            }

            >div {
                justify-content: left;
            }

            .trade-number {
                .ate {
                    font-size: 12px;
                    font-weight: 600;
                    color: #000;
                    line-height: 17px;
                }

                .hk {
                    color: #999;
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            >i {
                font-size: 16px;
                color: #000;
                font-weight: 600;
            }
        }
    }

    .footer {
        .token {
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            color: #707070;
            line-height: 15px;
        }

        .refresh {
            justify-content: center;

            p,
            span {
                text-align: center;
                font-size: 11px;
                line-height: 15px;
            }

            p {
                color: #1592E6;
                cursor: pointer;
            }

            span {
                color: #707070;
            }
        }
    }

    .footer-tabs {
        width: 100%;
        height: 360px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 24px 24px 0px 0px;
        background: rgba(177, 218, 90, 0.3);

        .tabs-list {
            padding: 24px 16px;
            align-items: center;

            p {
                font-size: 16px;
                color: #000;
                line-height: 20px;
            }
        }
    }
}