.meer-background {
    width: 100vw;
    height: 100vh;
    min-width: 560px;
    min-height: 500px;
    background: #f0f2f5;

    .return-img {
        width: 41px;
        height: 15px;
        cursor: pointer;
    }

    .header {
        width: 560px;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;

        .spotpay {
            width: 150px;
            height: auto;
        }

        .user-type {
            align-items: center;

            .user {
                width: 30px;
                height: 30px;
            }

            .el-select {
                width: 140px;
                height: 33px;
                position: relative;

                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #03FF14;
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    margin-top: -5px;
                }

                .el-input__inner {
                    height: 33px;
                    font-size: 12px;
                    padding-right: 25px;
                    padding-left: 25px;
                }

                .el-input__suffix {
                    right: 2px;

                    .el-input__suffix-inner {
                        .el-input__icon {
                            line-height: 33px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

.el-select-dropdown__item {
    height: 30px;
    line-height: 30px;

    span {
        font-size: 12px !important;
    }
}