<div class="header flex">
    <img class="spotpay" src="../../../assets/images/logo/pageLogo.png" alt="">
    <div class="user-type flex">
        <!-- <el-select v-model="walltEnvironment" @change="rpcChange" placeholder="请选择">
            <el-option label="QITMEER Mainnet" value="mainnet"></el-option>
            <el-option label="QITMEER Test" value="test"></el-option>
            <el-option label="Qitmeer Test" value="Qitmeer"></el-option>
        </el-select> -->
        <!-- <label for="my-select">选择一个选项：</label> -->
        <!-- <select id="my-select" v-model="walltEnvironment" @change="rpcChange">
            <option value="mainnet">QITMEER Mainnet</option>
            <option value="test">QITMEER Test</option>
            <option value="Qitmeer">Qitmeer Test</option>
        </select> -->
        <img class="user ml-5" src="../../../assets/images/user.png" alt="">
    </div>
</div>