.meer-background {
    width: 100vw;
    height: 100vh;
    min-width: 560px;
    min-height: 500px;
    background: #f0f2f5;

    .return-img {
        width: 41px;
        height: 15px;
        cursor: pointer;
    }

    .header {
        width: 560px;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;

        .spotpay {
            width: 150px;
            height: auto;
        }

        .user-type {
            align-items: center;

            p {
                font-size: 14px;
            }

            select {
                width: 140px;
                height: 33px;
                position: relative;
                font-size: 14px;

                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 10px;
                    background-color: #03FF14;
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    margin-top: -5px;
                }

                option {
                    height: 33px;
                    font-size: 12px;
                    padding-right: 25px;
                    padding-left: 25px;
                }
            }
        }
    }
}

.el-select-dropdown__item {
    height: 30px;
    line-height: 30px;

    span {
        font-size: 12px !important;
    }
}


.nft-test {
    background-color: rgba($color: #000000, $alpha: .1);
    height: 500px;
    width: 700px;
    margin: 0 auto;

    p {
        font-size: 14px;
        color: #000000;
    }

    button {
        margin-top: 20px;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    input {
        font-size: 14px;
        height: 20px;
        width: 100%;
    }
}