<div class="private-phrase">
    <p class="title">导入助记词</p>
    <p class="text mt-10">支持所有格式（12、18、24 字）助记词。</p>
    <div class="phrase-input mt-30">
        <textarea :class="{'input-err':mnemonicPhraseErr}" placeholder="请输入您的助记词，并用空格分隔。"
            v-model="mnemonicPhrase"></textarea>
        <p class="mt-10">{{mnemonicPhraseErr}}</p>
    </div>
    <button :class="mnemonicPhrase && mnemonicPhrase.split(' ').length >= 12?'confirm-btn':''"
        @click="mnemonicPhraseConfirm">确认</button>
</div>