<div class="user-content margin-auto">
    <div class="type-btn flex">
        <button @click="netWorkChange('EVM')">EVM</button>
        <button @click="netWorkChange('UTXO')">UTXO</button>
        <button @click="openPage">aaaa</button>

    </div>

    <div class="user-type" v-if="netWorkList && netWorkList.length">
        <p>网络</p>
        <select id="my-select" v-model="walltEnvironment" @change="rpcChange">
            <option :value="item.CHAIN_ID" v-for="item in netWorkList">{{item.unit}}</option>
        </select>
    </div>

    <div class="user-type" v-if="userList && userList.length">
        <p>用户数据</p>
        <select id="my-select" v-model="walltUser" @change="userChange">
            <option :value="item.address" v-for="item in userList">{{item.address}}</option>
        </select>
    </div>
    <div class="user-info">
        <p class="user-name">{{ walltContent.userName ? 'Account 1' : walltContent.userName }}</p>
        <div class="user-address mt-5 flex">
            <p class="mr-10">
                {{ walltContent.address ? walltContent.address.substr(0, 4) : '' }}...{{ walltContent.address ?
                walltContent.address.substr(-4) : '' }}
            </p>
            <i class="el-icon-copy-document" @click="onCopy"></i>
        </div>
        <div class="user-currency mt-30 flex">
            <img src="images/unitLogo.png" alt="">
            <p class="ml-10">{{ walltContent.balance }} {{ walltContent.balanceUnit }}</p>
        </div>
    </div>
    <div class="uesr-btn mt-30 flex">
        <p @click="toPage('buy')">
            <img src="images/buy.png" alt="">
        </p>
    </div>
    <!-- 转账记录 -->
    <div class="hesh-content">
        <div class="transactions flex" v-if="walltContent.txHash" @click="hashDetail">
            <div class="flex">
                <img src="images/unitLogo.png" alt="">
                <div class="trade-number ml-25">
                    <p class="ate">{{transactionHash}} {{walltContent.balanceUnit}}</p>
                    <p class="hk">HK$0.75 HKD</p>
                </div>
            </div>
            <i class="el-icon-arrow-right"></i>
        </div>
    </div>
    <div class="footer mt-20">
        <p class="token">没有看到您的数据？</p>
        <div class="refresh mt-10 flex">
            <p @click="refresh">刷新列表</p>
        </div>
    </div>
</div>