<div class="more-content" @click.self="modalOperate">
    <div class="more-options" v-show="optionsBol">
        <div class="options-list flex" v-for="item in options" :key="item.to" @click="toModal(item.to)">
            <img :src="item.url" alt="">
            <p class="ml-5">{{item.text}}00</p>
        </div>
    </div>
    <div class="components-content" v-show="!optionsBol">
        <!-- 账户基本信息 -->
        <details-popup v-if="optionType == 'details'" />
        <!-- 转账信息 -->
        <activity-popup v-if="optionType == 'activity'" />
        <!-- 导出私钥 -->
        <private-keys-popup v-if="optionType == 'private'" v-bind="$attrs" v-on="$listeners" />
        <!-- 链接多少网络 -->
        <sites-popup v-if="optionType == 'private'" v-bind="$attrs" v-on="$listeners" />
    </div>
</div>