.create-page {
    position: relative;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .title {
        text-align: center;
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
        color: #000;
        margin-top: 240px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        font {
            font-size: 30px;
            line-height: 38px;
            color: rgba(177, 218, 90, 1);

            &.red {
                color: rgba(255, 72, 160, 1);
            }
        }
    }

    button {
        display: block;
        width: 328px;
        height: 72px;
        border: 0;
        cursor: pointer;
        font-size: 19px;
        border-radius: 72px;
        color: #000;
        font-weight: 600;
    }

    .create-in {
        background: rgba(177, 218, 90, 1);
    }

    .log-in {
        border: 1px solid rgba(177, 218, 90, 1);
    }

    .google-id {
        width: 300px;
        height: 20px;
        font-size: 12px;
    }
}