<div class="create-page">
    <img src="../../../assets/images/logo/bgi.png" alt="">
    <p class="title">Explore the<br />Decentralized world<br />with <font>B</font>
        <font class="red">i</font>
        <font>uu</font>
    </p>
    <input class="google-id" type="text" v-model="googleId" placeholder="输入当前扩展的id">
    <button @click="toCreate('creasteWalletPage')" class="create-in margin-auto mt-20">创建钱包</button>
    <button @click="toCreate('importMnemonicPage')" class="log-in margin-auto mt-5">导入帐户</button>
</div>