<div class="create-wallt">
    <img class="margin-auto" src="images/walltLogo.png" alt="">
    <p class="create-wel margin-auto mt-20">SpotPay</p>
    <p class="create-about margin-auto">The Interchain Wallet</p>
    <input class="google-id" type="text" v-model="googleId" placeholder="输入当前扩展的id">
    <button @click="toCreate('createWallt')" class="create-in margin-auto mt-45">Create wallet</button>
    <button @click="toCreate('importWallt')" class="log-in margin-auto mt-25">Import account</button>
</div>