.delete-wallt {
    .confirm-content {
        text-align: center;

        >img {
            width: 34px;
            height: 34px;
        }

        >p {
            font-size: 22px;
            line-height: 30px;
            color: #000;
        }

        .wallt-content {
            align-items: center;
            justify-content: space-between;
            width: 300px;
            padding: 7px 12px;
            background: rgba(177, 218, 90, 0.3);
            border-radius: 8px;
            margin: 0 auto;

            .jazzicon {
                width: 48px;
                align-items: center;
                justify-content: center;
                height: 48px;
            }

            .name-address {
                width: 200px;

                p {
                    text-align: left;
                    word-wrap: break-word;
                    color: #000;

                    &.name {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    &.address {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }

            }
        }

        .content-tips {
            font-size: 14px;
            line-height: 20px;
            width: 300px;
            margin: 20px auto 40px;
        }

        .footer-btn {
            justify-content: space-between;
            align-items: center;
            width: 300px;
            box-shadow: none;
            margin: 20px auto 10px;
            height: 50px;
            box-shadow: none;

            p {
                font-size: 16px;
                font-weight: 500;
                color: #000;
                line-height: 48px;
                height: 48px;
                border-radius: 30px;

                &.close {
                    width: 104px;
                    border: 1px solid rgba(177, 218, 90, 1);
                    background-color: #fff;
                }

                &.confirm {
                    width: 184px;
                    background: rgba(177, 218, 90, 1);

                    &.confirm-key {
                        width: 300px;
                    }
                }

            }
        }
    }

    .double-confirmation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;

        .header {
            border-bottom: 0;
        }

        .double-confirm {
            padding: 0 16px;

            p {
                font-size: 24px;
                line-height: 32px;
            }

            input {
                width: 100%;
                font-size: 14px;
                border-radius: 8px;
                border: 1px solid rgba(219, 219, 219, 1);
                line-height: 48px;
                height: 48px;
                padding: 0 12px;

            }

        }

        .footer {
            width: 300px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            margin-left: -150px;
            text-align: center;

            span {
                font-size: 14px;
                color: rgba(146, 146, 146, 1);
                line-height: 20px;
            }

            p {
                width: 100%;
                border-radius: 48px;
                background: rgba(177, 218, 90, 1);
                cursor: pointer;
                line-height: 48px;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}