<div class="activity-page">
    <i @click="closeModal" class="el-icon-close"></i>
    <img class="mt-15" src="images/platform.png" alt="">
    <div class="activity-list mt-30">
        <div class="pl-20 pr-10 flex" v-for="(item,index) in txHashList" :key="index">
            <div class="flex">
                <img v-if="(address!=item.to)" class="mr-10" src="images/homePage/to.png" alt="">
                <img v-else class="mr-10" src="images/homePage/from.jpg" alt="">
                <div>
                    <p class="title">{{(address==item.to?'Receive':'Send')}}</p>
                    <div class="time-address flex">
                        <p class="date mr-5" v-if="item.time">{{item.time}}.</p>
                        <p class="address">to: {{item.to.substr(0,4)}}...{{item.to.substr(-4)}}</p>

                    </div>
                </div>
            </div>
            <div class="hkd">
                <p class="title">{{toWei(item.value)}}{{balanceUnit}}</p>
                <p class="text mt-5">HK$xxHKD</p>
            </div>
        </div>
    </div>
</div>