<div class="new-mnemonic margin-auto">
    <p class="title">二次确认您的助记词</p>
    <p class="text mt-10">请按顺序选择每个短语。</p>
    <p class="input-title mb-10">Word <font>#1</font>
    </p>
    <div class="mnemonic-input flex" v-if="(mnemonicList && mnemonicList.length)">
        <div class="input-list" v-for="item in mnemonicList.slice(0,3)" :key="item.id">
            <input @paste="pasteFun" type="text" v-model="item.mnemonic" maxlength="15">
        </div>
    </div>
    <p class="input-title mt-20 mb-10">Word <font>#6</font>
    </p>
    <div class="mnemonic-input flex" v-if="(mnemonicList && mnemonicList.length)">
        <div class="input-list" v-for="item in mnemonicList.slice(3,6)" :key="item.id">
            <input @paste="pasteFun" type="text" v-model="item.mnemonic" maxlength="15">
        </div>
    </div>
    <p class="input-title mt-20 mb-10">Word <font>#9</font>
    </p>
    <div class="mnemonic-input flex" v-if="(mnemonicList && mnemonicList.length)">
        <div class="input-list" v-for="item in mnemonicList.slice(6,9)" :key="item.id">
            <input @paste="pasteFun" type="text" v-model="item.mnemonic" maxlength="15">
        </div>
    </div>
    <p class="input-title mt-20 mb-10">Word <font>#12</font>
    </p>
    <div class="mnemonic-input flex" v-if="(mnemonicList && mnemonicList.length)">
        <div class="input-list" v-for="item in mnemonicList.slice(9,12)" :key="item.id">
            <input @paste="pasteFun" type="text" v-model="item.mnemonic" maxlength="15">
        </div>
    </div>
    <div class="import flex">
        <button @click="creatKeyStory">生成钱包信息</button>
    </div>
</div>