.login-wallt{
    padding-top: 102px;
    img{
        width: 115px;
        height: 116px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .login-wel{
        font-size: 22px;
        line-height: 30px;
        width: 219px;
    }
    .login-about{
        width: 219px;
        font-size: 12px;
        line-height: 15px;
    }
    .login-pass{
        width: 230px;
        height: 38px;
        border-radius: 5px;
        border: 1px solid #707070;
        position: relative;
        p{
            background-color: #fff;
            line-height: 14px;
            width: 60px;
            font-size: 10px;
            text-align: center;
            position: absolute;
            top: -8px;
            left: 12px;
        }
        input{
            width: 100%;
            height: 100%;
            padding: 10px;
            border: 0;
            font-size: 16px;
            background-color: transparent;
        }
        span{
            color: red;
            font-size: 12px;
            position: absolute;
            bottom: -18px;
            left: 0;
        }
    }
    .log-in{
        display: block;
        width: 231px;
        height: 38px;
        background: #1592E6;
        border-radius: 5px 5px 5px 5px;
        color: #fff;
        border: 0;
        cursor: pointer;
        font-size: 12px;
    }
    .forgot{
        font-size: 11px;
        color: #1592E6;
        cursor: pointer;
        width: 100px;
    }
    .need-help{
        width: 200px;
        p{
            font-size: 11px;
        }
        .need{
            color: #707070;
        }
        .spot{
            margin-left: 5px;
            color: #1592E6;
            cursor: pointer;
        }
    }

}