.setting {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;

    .setting-options {
        width: 100%;

        li {
            height: 44px;
            align-items: center;
            padding: 10px 24px;
            transition: all 0.3s linear;
            cursor: pointer;

            &:hover {
                transition: all 0.3s linear;
                background: rgba(177, 218, 90, 0.3);
            }

            img {
                max-width: 24px;
                max-height: 24px;
                cursor: pointer;
            }

            p {
                font-size: 14px;
                color: #000;
                cursor: pointer;
            }
        }
    }
}