.new-mnemonic {
    margin-top: 25px;

    .set-password {
        margin-top: 18px;
        justify-content: space-between;

        div {
            position: relative;

            p {
                font-weight: 400;
                color: #000000;
                font-size: 14px;
            }

            input {
                width: 100%;
                height: 48px;
                padding: 12px 14px;
                border-radius: 5px;
                border: 1px solid rgba(219, 219, 219, 1);
                font-size: 15px;
                color: #000;
            }

            span {
                color: red;
                position: absolute;
                bottom: -20px;
                left: -47%;
                font-size: 20px;
                transform: scale(0.5);
                width: 200%;
            }
        }
    }

    .import {
        position: absolute;
        bottom: 40px;
        width: 100%;
        left: 0;
        padding: 0 16px;
        border: 0;

        &.confirm {
            button {
                background: #B1DA5A;
            }
        }

        .service-tips {
            align-items: center;
            justify-content: center;

            i {
                width: 16px;
                height: 16px;
                border-radius: 20px;
                border: 1px solid #B1DA5A;
                display: block;

                &.check {
                    &::after {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 20px;
                        background-color: #B1DA5A;
                        display: block;
                        margin: 2px;
                    }
                }
            }

            p {
                font-size: 14px;

                font {
                    font-size: 14px;
                    color: rgba(255, 72, 160, 1);
                }
            }
        }

        button {
            width: 100%;
            height: 48px;
            background: rgba(177, 218, 90, 0.5);
            border-radius: 48px;
            color: #000;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .phrases-private {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(2px);

        div {
            padding: 60px 16px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 8px 8px, 0px, 0px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
        }

        p,
        span {
            cursor: pointer;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: #000;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            color: rgba(146, 146, 146, 1);
        }
    }
}